@using System.Data
@{
    ViewBag.Title = "Unidad";
    Layout = "~/Views/Administrador/Pagina_Maestra.cshtml";
}



<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp trending">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Actualizar Tipo de Unidad</h2>
        </div>
        <div class="mdl-card__supporting-text">


            <table>
                <thead>
                    <tr>
                        <th>
                            <div class="modal-body">
                                <form action="#">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="sample3" value="@ViewBag.nombre">
                                        <label class="mdl-textfield__label" for="sample3">Nombre</label>
                                    </div>
                                </form>
                            </div>
                        </th>
                       
                    </tr>
                </thead>
            </table>

            <table>
                <tr>
                    <td style="text-align:right">

                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored-light-blue" data-modal="#modal_2" data-upgraded=",MaterialButton,MaterialRipple">
                            <i class="material-icons">forward</i>
                            Actualizar
                            <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 271.785px; height: 271.785px; transform: translate(-50%, -50%) translate(76px, 18px);"></span></span>
                        </button>
                    </td>
                </tr>
            </table>


        </div>
    </div>
</div>


<div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone  ">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-shadow--8dp animated fadeInDown ">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Lista de tipos de Unidad</h2>
            <button id="agr" class="mdl-button mdl-js-button  mdl-button--colored-orange mdl-shadow--8dp modal__trigger" style="left:66%; background-color:rgb(255, 152, 0) " data-modal="#Agregar">
                <i class="material-icons">add</i>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"></span></span>
            </button>
        </div>
        <table class="mdl-data-table mdl-js-data-table projects-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                    <th class="mdl-data-table__cell--non-numeric">Actualizar</th>
                    <th class="mdl-data-table__cell--non-numeric">Eliminar</th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr id="@row["Id"]">

                        <th class="mdl-data-table__cell--non-numeric">@row["Nombre"]</th>

                        <td class="mdl-data-table__cell--non-numeric">
                            <!--Acciones-->
                            @using (Ajax.BeginForm("Consultar_Unidad", "Administrador", new { Id = @row["Id"] }, new AjaxOptions() { HttpMethod = "POST" }))
                            {@Html.AntiForgeryToken()
                                <button id="Act" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored-blue " data-upgraded=",MaterialButton,MaterialRipple" tabindex="0">
                                    <i class="material-icons">create</i>
                                    <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(19px, 16px);"></span></span>
                                </button>
                            }
                            </td>
                        <td class="mdl-data-table__cell--non-numeric">

                            @using (Ajax.BeginForm("Eliminar_Unidad", "Administrador", new { Id = @row["Id"] }, new AjaxOptions() { HttpMethod = "POST" }))
                            {@Html.AntiForgeryToken()

                                <button id="Elim" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored-red" data-upgraded=",MaterialButton,MaterialRipple" tabindex="0">
                                    <i class="material-icons">delete</i>
                                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                                </button>

                                <div class="mdl-tooltip mdl-tooltip--large" for="Elim" data-upgraded=",MaterialTooltip">
                                    Eliminar
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mdl-card__actions">
            <!-- Boton agregar-->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored-purple mdl-shadow--8dp modal__trigger" style="background-color: rgb(21, 162, 208); transform: none;" data-modal="#modal" data-upgraded=",MaterialButton,MaterialRipple">
                <i class="material-icons">add</i>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(35px, 11px);"></span></span>
            </button>
        </div>
    </div>
</div>



<div id="modal" class="modal modal__bg">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__title">
                    <h2 class="modal__title-text">Agregar Nueva Tipo de unidad</h2>
                </div>
            </div>
            <div class="modal__text">
                @using (Ajax.BeginForm("Agregar_unidad", "Administrador", new AjaxOptions() { HttpMethod = "POST" }))
                { @Html.AntiForgeryToken()
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" name="Nombre">
                                        <label class="mdl-textfield__label" for="sample1">Nombre</label>
                                    </div>
                                </th>
                        </thead>
                    </table>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Button
                    </button>
                }
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent modal__close">
                    Button
                </button>
            </div>

            <div class="modal__footer">
                <a class="mdl-button mdl-button--colored mdl-js-button  modal__close" data-upgraded=",MaterialButton">
                </a>
            </div>
        </div>
    </div>
</div>


<div id="modal_2" class="modal modal__bg">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__title">
                    <h2 class="modal__title-text">Actualizar tipo de Unidad</h2>
                </div>
            </div>
            <div class="modal__text">
                @using (Ajax.BeginForm("Agregar_Clasificacion", "Administrador", new AjaxOptions() { HttpMethod = "POST" }))
                { @Html.AntiForgeryToken()
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" name="Nombre">
                                        <label class="mdl-textfield__label" for="sample1">@ViewBag.nombre</label>
                                    </div>
                                </th>
                              
                        </thead>
                    </table>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Button
                    </button>
                }
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent modal__close">
                    Button
                </button>
            </div>

            <div class="modal__footer">
                <a class="mdl-button mdl-button--colored mdl-js-button  modal__close" data-upgraded=",MaterialButton">
                </a>
            </div>
        </div>
    </div>
</div>


@*-------Nuevo--------*@
@using (Ajax.BeginForm("Agregar_unidad", "Administrador", new AjaxOptions() { HttpMethod = "POST" }))
{
    <div id="Agregar" class="modal modal__bg">
        <div class="modal__dialog">
            <div class="modal__content">
                <div class="modal__header">
                    <div class="modal__title" style="background-color:#4caf50">
                        <h2 class="modal__title-text" style="color:#fff">Nueva Unidad</h2>
                    </div>
                </div>
                <div class="modal__text">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="firstName" name="Nombre" value="" />
                                    <label class="mdl-textfield__label" for="firstName">Nombre de la unidad</label>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>

                <div class="modal__footer">
                    <a  class="mdl-button mdl-button--colored-red mdl-js-button  modal__close" style="background-color:#e44242">
                        Cerrar
                    </a>
                    <button class="mdl-button  mdl-js-button" style="background-color:#4caf50; left:5%;">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<div id="Actualizar" class="modal modal__bg ">
    <div class="modal__dialog">
        <div id="cont" class="modal__content">
            <div class="modal__header">
                <div class="modal__title" style="background-color:rgb(255, 152, 0) ">
                    <h2 class="modal__title-text" style="color:#fff">Actualizar Ingrediente</h2>
                </div>
            </div>
            <div id="padre">
                <div id="info" class="modal__text">

                    <div class="mdl-grid">

                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="firstName" name="Nombre" value="" />
                                    <label class="mdl-textfield__label" for="firstName">Nombre</label>
                                </div>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="unidad" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4" value="">
                                    <label class="mdl-textfield__label" for="sample4">Unidad</label>
                                    <span class="mdl-textfield__error">Solo numeros!</span>
                                </div>
                            </div>
                        </div>

                        @*<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <div class="">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                                        <input class="mdl-textfield__input" value="Male"  name="Clasificacion" type="text" id="gender" readonly tabIndex="-1" />
                                        <label class="mdl-textfield__label" for="gender">Clasificación</label>
                                        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu dark_dropdown" for="gender" style="background-color:#fff">
                                            <li class="mdl-menu__item">Male</li>
                                            <li class="mdl-menu__item">Female</li>
                                        </ul>
                                        <label for="gender">
                                            <i class="mdl-icon-toggle__label material-icons">arrow_drop_down</i>
                                        </label>
                                    </div>
                                </div>
                            </div>*@
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="Clasificacion" pattern="-?[0-9]*(\.[0-9]+)?" id="birthday" value="" />
                                    <label class="mdl-textfield__label" for="birthday">Clasificacion</label>
                                    <span class="mdl-textfield__error">Solo numeros!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="energia" pattern="-?[0-9]*(\.[0-9]+)?" id="birthday" value="" />
                                    <label class="mdl-textfield__label" for="birthday">Energia</label>
                                    <span class="mdl-textfield__error">Solo numeros!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="Proteina" pattern="-?[0-9]*(\.[0-9]+)?" id="birthday" value="" />
                                    <label class="mdl-textfield__label" for="birthday">Proteina</label>
                                    <span class="mdl-textfield__error">Solo numeros!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="hidrato" pattern="-?[0-9]*(\.[0-9]+)?" id="birthday" value="" />
                                    <label class="mdl-textfield__label" for="birthday">Hidrato</label>
                                    <span class="mdl-textfield__error">Solo numeros!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="lipido" pattern="-?[0-9]*(\.[0-9]+)?" id="birthday" value="" />
                                    <label class="mdl-textfield__label" for="birthday">Lipido</label>
                                    <span class="mdl-textfield__error">Solo numeros!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <div class="">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="fibra" pattern="-?[0-9]*(\.[0-9]+)?" id="birthday" value="" />
                                    <label class="mdl-textfield__label" for="birthday">Fibra</label>
                                    <span class="mdl-textfield__error">Solo numeros!</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal__footer">
                <a class="mdl-button mdl-button--colored-red mdl-js-button  modal__close" style="background-color:#e44242">
                    Cerrar
                </a>
                <a id="cerrar_Act" class="mdl-button mdl-button--colored-red mdl-js-button" style="background-color:#e44242">
                    Cerrar M
                </a>
                <button class="mdl-button  mdl-js-button" style="background-color:rgb(255, 152, 0) ; left:55%;">
                    Guardar Cambios
                </button>
            </div>
        </div>
    </div>
</div>

<div id="Eliminar" class="modal modal__bg">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__title" style="background-color:#e44242 ">
                    <h2 class="modal__title-text" style="color:#fff">Eliminar Ingrediente</h2>
                </div>
            </div>
            <div class="modal__text">
                <div class="mdl-grid center">
                    <h3>Esta seguro de Eliminar este ingrediente?</h3>

                </div>
            </div>

            <div class="modal__footer">
                <a class="mdl-button mdl-button--colored-red mdl-js-button  modal__close" style="background-color:#e44242">
                    Cancelar
                </a>
                <button id="elim" class="mdl-button  mdl-js-button" style="background-color:#4caf50; left:65.5%;">
                    Si
                </button>
            </div>
        </div>
    </div>
</div>

<div id="Noti_Agregar" class="notif " style="background-color:#4caf50">
    Ingrediente Agregado
</div>
<div id="Noti_Eliminar" class="notif " style="background-color:#e44242">
    Ingrediente Eliminado
</div>
<div id="Noti_Actualizar" class="notif " style="background-color:rgb(255, 152, 0)">
    Ingrediente Actualizado
</div>
<script>
    document.getElementById("cerrar_Act").onclick = function(){
        document.getElementById("Actualizar").classList.remove("modal--active");
        document.getElementById("cont").classList.remove("modal__content--active");
    }


    function ObtenerDatos(id) {
        var url = "@Url.Action("obDatos","Administrador")";
        var data = { id }

        $.get(url, data).done(function (data) {
             var padre = document.getElementById("padre");
            var old = document.getElementById("info");
            padre.removeChild(old);
            $("#padre").append(data);
        });
    }


</script>
<link href="/Recursos_Administrador/css/docs.min.css" rel="stylesheet">
<script src="/Recursos_Administrador/js/material-modal.min.js"></script>



